.form-input {
    width: 400px;
    height: 40px;
    background-color: rgb(238, 246, 248);
    border: 5px solid rgb(153, 138, 191);
    border-radius: 999px; /* round the corners to create an oval */
    padding: 5px 10px;
    margin-top: 20px;
    box-shadow: 0 6px 10px 0 rgba(15, 3, 3, 0.2);
    font-size: 30px;
    margin-left: 35px;
    font-family:cursive
}

.form_div {
    background-color: rgb(231, 244, 244);
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    margin-top: 30px;
    border: 5px solid rgb(153, 138, 191);
    box-shadow: 0 20px 10px 0 rgba(15, 3, 3, 0.2);
}

.form_container{
    display: flex;
    justify-content: center;
    
}
.form-btn {
    width: 430px;
    height: 60px;
    font-size: 30px;
    border-radius: 999px;
    margin-top: 20px;
    margin-left: 35px;
    border: 5px solid rgb(153, 138, 191);
    font-family:cursive
    
}
.profilewizardPic {
    margin-left: 500px;
   margin-bottom: 500px;
}