.video_card {
    height: 400px;
    width: 430px;
  background-color: rgb(246, 250, 250);
    box-shadow: 0 10px 20px 0 rgba(15, 3, 3, 0.2);
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}
/* .video_dropdown{
    border-radius: 999px;
    width: 200px;
    height: 30px;
    
} */
.videoCardBtn {
  background-color: rgb(221, 191, 226);
    border-radius: 999px;
    box-shadow: 0 6px 10px 0 rgba(15, 3, 3, 0.2);
    width: 150px;
    height: 50px;
    /* margin-right: 20px; */
    font-size: 20px;
    
}